@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Inicial ";
}
p> Você não tem permissão para acessar essa funcionalidade,<a asp-controller="Home" asp-action="Index"> click aqui para ir para a home. </a></p>